<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TaskManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04AC79321F26EE6700B1C0A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04AC794B1F26EE6800B1C0A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04AC79561F26EE6800B1C0A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
